.title {
    color: #ED1C24;
}

.footer-text {
    color: #000;
}

.custom-button {
    background-color: #ED1C24;
    color: #fff;
}

.btn {
    margin: 10px;
    border-radius: 0.5em 0.5em 0.5em 0.5em !important;

}

.bg-default {

    background-color: #EEEEEE;
}

table.table-hover {
    width: 100%;
}

table.table.table-hover tr td {
    width: 100%
}

.img-responsive {
    display: inherit;
    max-width: 100%;
    height: 3.5em;
}
