.title {
    color: #ED1C24;
}

.footer-text {
    color: #000;
}

.custom-button {
    background-color: #ED1C24;
    color: #fff;
}

.subtitle{
    font-size: 1.5em;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn {
    margin: 0.75em;
    border-radius: 0.5em 0.5em 0.5em 0.5em !important;
}

.bg-default {
    background-color: #EEEEEE;
}

table.table-hover {
    width: 100%;
}

table.table.table-hover tr td {
    width: 100%
}

.img-responsive {
    display: inherit;
    max-width: 100%;
    height: 3.5em;
}
.logo{
    max-width: 200px;

}
.alert{
    display: none;
}