.title{
    color: #ED1C24;
}

.footer-text{
    color: #000;
}

.custom-button{
    background-color: #ED1C24;
    color: #fff;
}

.img-responsive{
    display: inherit;
    max-width: 100%;
    height: 3.5em;
}
